@font-face {
  font-family: "iconfont"; /* Project id 3523614 */
  src: url('iconfont.woff2?t=1657810869269') format('woff2'),
       url('iconfont.woff?t=1657810869269') format('woff'),
       url('iconfont.ttf?t=1657810869269') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caret-bottom:before {
  content: "\e605";
}

.icon-caret-left:before {
  content: "\e606";
}

.icon-caret-right:before {
  content: "\e607";
}

.icon-caret-top:before {
  content: "\e608";
}

.icon-shouye:before {
  content: "\e600";
}

.icon-a-ziyuan54:before {
  content: "\e601";
}

.icon-zuobiaochaxun:before {
  content: "\e602";
}

.icon-a-ziyuan14:before {
  content: "\e603";
}

.icon-yuanlaguanli:before {
  content: "\e604";
}

